body {
  font-family: var(--font-family-main);
  color: var(--color-black);
}
.container {
  width: 100%;
  margin-top: 20px;
  padding: 0 15px;
}
/* HEADER */
.header {
  max-width: var(--content-width);
  margin: 0 auto;
}

/* TOP_OF_HEADER */
.header__top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header__contacts {
  display: flex;
  flex-direction: column;
  color: var(--color-orange);
  font-size: 26px;
}

/* NAVIGATION_HEADER */
.header__navigation-list {
  display: flex;
  height: 45px;
}

.header__navigation-element {
  flex: 0 0 16.666%;
}

.header__navigation-element:not(:last-child) {
  border-right: 1px solid var(--color-orange);
}

a.header__navigation-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 5px;
  font-size: 15px;
  text-align: center;
  background-color: var(--color-black);
  color: var(--color-white);
  transition: background 0.2s linear;
}

a.header__navigation-link.active {
  background-color: var(--color-orange);
}

a.header__navigation-link.active:hover {
  background: var(--color-orange);
}

a.header__navigation-link:hover {
  background-color: var(--color-black-hover);
}

/* MAIN */
.main {
  max-width: var(--content-width);
  margin: 0 auto;
  padding: 16px 20px;
}
/* BREAD_CRUMBS */
.bread-crumbs {
  color: var(--color-black);
  font-size: 14px;
}

.bread-crumbs__list {
  display: flex;
}

.bread-crumbs__element {
  position: relative;
  margin-right: 10px;
}

.bread-crumbs__element:not(:last-child)::after {
  content: "-";
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10px;
  height: 100%;
  right: -10px;
  top: 0;
}

.bread-crumbs__element a {
  border-bottom: 1px solid var(--color-black);
}

.bread-crumbs__element a:hover {
  color: var(--color-black-hover);
  border-bottom: 1px solid var(--color-black-hover);
}

.bread-crumbs__element.active a {
  color: inherit;
  pointer-events: none;
  cursor: default;
  border-bottom: none;
}

/* CALCULATOR */
.main .calculator {
  margin-top: 25px;
}

.calculator {
  display: flex;
  max-width: 800px;
  background-color: var(--color-bg-grey);
  padding: 20px;
}

.calculator__title {
  text-align: center;
  font-size: 30px;
  color: var(--color-orange);
  font-weight: var(--font-weight-regular);
  margin-bottom: 15px;
}

.calculator__form {
  flex: 0 0 45%;
}

.calculator__label {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.calculator__label-text {
  display: block;
  max-width: 200px;
  text-align: end;
  font-size: 15px;
  margin-right: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.calculator__input {
  width: 100px;
  font-family: var(--font-family-main);
  padding: 5px;
}

.calculator__input.radio {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.calculator__form-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
  padding-left: 10px;
}

.calculator__form-footer .button {
  margin-right: 10px;
}

.calculator__result {
  white-space: nowrap;
  font-size: 15px;
}

.calculator__result-sum {
  font-size: 16px;
  font-weight: var(--font-weight-bold);
}

/* BUTTON */
.button {
  width: 120px;
  height: 40px;
  border-radius: 10px;
  box-shadow: 11px 10px 27px -7px rgba(34, 60, 80, 0.2);
  border: 1px solid var(--color-border-grey);
  background: linear-gradient(to top, rgba(127, 199, 0), rgba(173, 241, 0));
  cursor: pointer;
  transition: opacity 0.2s linear;
  font-size: 15px;
}

.button:focus {
  outline: none;
  box-shadow: 0 0 1px 1px var(--color-black);
}

.button:hover {
  opacity: 0.8;
}

/* FOOTER */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 55px;
  padding: 0 15px;
}
.footer__navigation {
  height: 100%;
}
.footer__body {
  max-width: var(--content-width);
  height: 100%;
  margin: 0 auto;
  background: var(--color-black);
}

.footer__navigation-list {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  color: var(--color-white);
}

.footer__navigation-link {
  border-bottom: 1px solid var(--color-white);
  transition: color 0.2s linear, border 0.2s linear;
}

.footer__navigation-link.active {
  color: var(--color-orange);
  border-bottom: 1px solid var(--color-orange);
  pointer-events: none;
}

.footer__navigation-link:hover {
  color: var(--color-orange);
  border-bottom: 1px solid var(--color-orange);
}
