:root {
  --content-width: 1000px;
  --color-white: #fff;
  --color-black: rgba(35, 31, 32);
  --color-orange: rgba(235, 80, 23);
  --color-bg-grey: rgba(242, 242, 242);
  --color-border-grey: rgba(195, 196, 196);
  --color-black-hover: rgba(35, 31, 32, 0.8);
  --font-family-main: "Roboto", sans-serif;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}

.button {
  width: 120px;
  height: 40px;
  border-radius: 10px;
  box-shadow: 11px 10px 27px -7px rgba(34, 60, 80, 0.2);
  border: 1px solid var(--color-border-grey);
  background: linear-gradient(to top, rgba(127, 199, 0), rgba(173, 241, 0));
  cursor: pointer;
  transition: opacity 0.2s linear;
  font-size: 15px;
}

.button:focus {
  outline: none;
  box-shadow: 0 0 1px 1px var(--color-black);
}

.button:hover {
  opacity: 0.8;
}
